
<h1>Clouds</h1>

Our blog has <%= Cloud.public_count %> Cloud and counting!

<ul>
  <% @clouds.each do |cloud| %>
    <% unless cloud.archived? %>
      <li>
        <%= link_to cloud.title, cloud %>
      </li
    <% end %>
  <% end %>
</ul>

<%= link_to "New Cloud", new_cloud_path %>

